USE [CLIENT_ANALYTICS]
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_RPT_CTNV_transfers]    Script Date: 11/9/2022 6:33:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




alter PROCEDURE [dbo].[sp_insert_RPT_CTNV_transfers]
	
	@start DATE=null

AS
/* 
Object: sp_insert_RPT_CTNV_transfers

Description: Remove last 15 call_dates from RPT_client_Amex_SMS_V2 and reinsert

Author			Date		Description
Mike Campbell	11/9/2022	Created
*/

BEGIN
	SET NOCOUNT ON;

	delete 
	from client_analytics.dbo.RPT_CTNV_transfers
	where IB_Call_Date=isnull(@start,cast(getdate()-1 as date));

	drop table if exists #ib;
		with areacode					
		as
		(
			select 203 as AreaCode, 'CT' as StateCode union
			select 475, 'CT' union
			select 860, 'CT' union
			select 959, 'CT' union
			select 702, 'NV' union
			select 725, 'NV' union
			select 775, 'NV' 
		)


	select a.StateCode as IB_state_from_areacode
		   , fcc.SessionId as IB_SessionId
		   , fcc.KeyCustomer as IB_KeyCustomer
		   , dcu.CustomerId as IB_CustomerId
		   , dcu.ClientId as IB_ClientId
		   , fcc.DialedPhoneNumber as IB_DialedPhoneNumber
		   , ddcc.Call_Center_Name as IB_Call_Center_Name
		   , dcs.Service_Name as IB_Service_name
		   , ddr.Dialer_Result as IB_Dialer_Result
		   , fcc.CallStartTime as IB_CallStartTime
		   , dd.CalendarDate as IB_Call_Date
	into #ib
	from dw_mstr_dm.dbo.FactCustomerCall fcc (nolock)
		   join
		 areacode a on fcc.DialedAreaCode=a.AreaCode
		   join
		 dw_mstr_dm.dbo.dimdate dd (nolock) on fcc.KeyDate_CallDate=dd.KeyDate
		   join
		 DW_MSTR_DM.dbo.DimDialerCallCenter ddcc (nolock) on fcc.KeyDialerCallCenter=ddcc.KeyDialerCallCenter
		   join
		 DW_MSTR_DM.dbo.DimCrmService dcs (nolock) on fcc.KeyCrmService=dcs.KeyCrmService
		   join
		 DW_MSTR_DM.dbo.DimDialerResult ddr (nolock) on fcc.KeyDialerResult=ddr.KeyDialerResult
		   join
		 DW_MSTR_DM.dbo.DimCustomer dcu (nolock) on fcc.KeyCustomer=dcu.KeyCustomer
	where dd.CalendarDate=isnull(@start,cast(getdate()-1 as date))--'10/1/22'
		  and ddr.Dialer_Result like '%transfer%'
		  and dcs.Service_Name not like '%HTI%'


    drop table if exists #ib2
	select i.*
		   , fcc.SessionId as Transfer_SessionId
		   , fcc.CallStartTime as Transfer_CallStartTime
		   , dcs.Service_Name as Transfer_Service_Name
		   , dcs.Service_ID as Transfer_Service_ID
	into #ib2
	from #ib i
		   join
		 dw_mstr_dm.dbo.FactCustomerCall fcc (nolock) on i.IB_DialedPhoneNumber=fcc.DialedPhoneNumber
												  and i.IB_SessionId<>fcc.SessionId
												  and datediff(minute,i.IB_CallStartTime,fcc.CallStartTime) between 0 and 5
           join
		 DW_MSTR_DM.dbo.DimDate dd (nolock) on fcc.KeyDate_CallDate=dd.KeyDate
		 		                               and i.ib_call_date=dd.CalendarDate
		   join
		 DW_MSTR_DM.dbo.DimCrmService dcs (nolock) on fcc.KeyCrmService=dcs.KeyCrmService
	where dcs.Service_Name not like '%HTI%'

    --stupid, but it's way faster to build above with inner joins and do left joins below as next step
	insert into client_analytics.dbo.RPT_CTNV_transfers
	             (
				  IB_state_from_areacode,
                  IB_SessionId,
                  IB_KeyCustomer,
				  IB_CustomerId,
				  IB_ClientId,
				  IB_DialedPhoneNumber,
				  IB_Call_Center_Name,
				  IB_Service_name,
				  IB_Dialer_Result,
				  IB_CallStartTime,
				  IB_Call_Date,
				  Transfer_SessionId,
				  Transfer_CallStartTime,
				  Transfer_Service_ID,
				  Transfer_Service_Name,
				  InsertDate
				 )
	select i.*
		   , i2.Transfer_SessionId
	       , i2.Transfer_CallStartTime
		   , i2.Transfer_Service_ID
		   , i2.Transfer_Service_Name
		   , getdate() as InsertDate
	from #ib i
	       left join
		 #ib2 i2 on i.IB_SessionId=i2.IB_SessionId



END;









