# Power BI local cache
.pbi/
*/.pbi/
**/.pbi/
*.abf
**/*.abf

# Optional
*.log
*.tmp
*.bak

# SSDT / Visual Studio project files

*.sln

*.sqlproj

*.vssscc

*.vspscc

*.scmp

*.suo

*.user

.vs/



# Security scripts

**/Security/

# SSIS / Visual Studio


*.sln

*.dtproj

*.dtproj.user

*.dtproj.vspscc

*.vssscc

*.database

*.params
UpgradeLog.htm



# Folders to exclude


**/Backup/

**/Tests/

**/.vs/

**/_Archive/
